body{
    background-color: #F1E9E9;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header{
    height: 90px;
    margin: 0px 10px;
    background-color: #15173D;
    border-radius: 5px;
    color: #F1E9E9;
    text-align: center;
}

nav{
    height: 30px;
    margin: 10px;
    background-color: #15173D;
    border-radius: 5px;
    color: #F1E9E9;
}

main{
    margin: 10px 310px 10px 10px;
    border-radius: 10px;
    color: #15173D;
    font-size: 110%;
    background-color: #E491C9;
    padding: 20px;
}

aside{
    width: 250px;
    background-color: #15173D;
    color: #F1E9E9;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    float: right;
    clear:right
}

h1{
    font-size: 120%;
    color: #15173D;
}
h2{
    font-size: 110%;
}

.img1{
    width: 290px;
    border-radius: 5px;
    padding: 0px;
    margin: 0px 10px 10px 10px;
    float: right;
    clear:right
}

a{
    text-decoration: none;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    color: #F1E9E9;

}

.logo{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 10px;
}

.hero{
    margin-left: 10px;
    margin-right: 10px;
    background-image: url(coding1.png);
    /* height: 500px; */
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5px;
}

.lk{
    margin: 0px;
    float: none;
    color: #15173D;
    text-decoration: underline;
}